language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby-19mode
  - jruby-20mode
  - jruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
branches:
  only:
    - master
after_success:
  - cover -report coveralls
notifications:
  recipients:
    - yuliinfo@gmail.com

