language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby-19mode
  - jruby-head
  - rbx-19mode
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
branches:
  only:
    - master
notifications:
  recipients:
    - yuliinfo@gmail.com

